{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
    {{ super() }}
{% endblock %}
{% block content %}

     

     
    <div class="container" style="font-family: 'Russo One', sans-serif">
       

      <div class="row" style="margin-top:30px">
          {% if current_user.is_authenticated%}
          <h1><u>Hello {{current_user.username}}</u></h1>
        {% else %}
          <h1><u>Hello stranger</u></h1>
        {%endif%}
        {%if current_user.is_authenticated%}
        <h4 class="text-left"><a class="btn btn-success" href="{{url_for('main.new_pitch')}}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Category</a></h4>
        {% endif %}
          {{ macro.displayCategoryList(categories) }}
        </div>
        {{ macro.displayPitches(pitches) }}
<!-- {% endblock %} -->

</div>
 
 
 </style>